<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../public/img/favicon.png" type="image/png">
    <title>Nexus SaaS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/vendors/linericon/style.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="../public/css/magnific-popup.css">
    <link rel="stylesheet" href="../public/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../public/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/scss/_responsive.scss">


    <script src="../public/js/jquery-3.2.1.min.js"></script>
</head>
<body class="blog_page">

<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/mainmenu"><img src="../public/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-right">
                        <li class="nav-item"><a class="nav-link" href="/mainmenu">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/addap">AP 등록</a></li>
                        <li class="nav-item"><a class="nav-link" href="/listap">AP 게시판</a>
                        <li class="nav-item active"><a class="nav-link" href="/mypage">My page</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/logout" class="primary_btn">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="games.html">My pages</a>
                </div>
                <h2>MY PAGES</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->


<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="../public/img/blog/cat-post/post-1.jpg" alt="post">
                    <div class="categories_details">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#information" data-toggle="collapse" ><h5>내 정보수정</h5></a>
                                <div class="border_line"> </div>
                                <p>Manage your information and Mac address</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="../public/img/blog/cat-post/post-1.jpg" alt="post">
                    <div class="categories_details">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#token" data-toggle="collapse" ><h5>AP & 토큰 관리</h5></a>
                                <div class="border_line"> </div>
                                <p>Check using AP and token </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="../public/img/blog/cat-post/post-1.jpg" alt="post">
                    <div class="categories_details">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#users" data-toggle="collapse" ><h5>AP관리</h5></a>
                                <div class="border_line"> </div>
                                <p>Manage my AP</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<div class="page_detail"  style="background-color: #332A7E">
    <div class="collapse" id="information">
        <div class="row recent_update_text">
            <div class="col-lg-20">
                <div class="container">
                    <h6>My pages</h6>
                    <div class="pages">
                        <h1>Manage your information and Mac address</h1>
                        <form method="post" action="/edit_name">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="수정할 이름을 입력해주세요." name="name" maxlength="20">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">수정</button>
                                </div>
                            </div>
                        </form><br>
                        <form method="post" action="/edit_tel">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="수정할 전화번호를 입력해주세요." name="tel" maxlength="20">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">수정</button>
                                </div>
                            </div>
                        </form><br>
                        <form method="post" action="/edit_address">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="수정할 주소를 입력해주세요." name="address" maxlength="50">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">수정</button>
                                </div>
                            </div>
                        </form><br>
                        <form method="post" action="/edit_mac">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="수정할 MAC을 입력해주세요. 현재 MAC 주소 : <%= user.mac%>" name="mac_addr" maxlength="50">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">수정</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="token">
        <div class="row recent_update_text">
            <div class="col-lg-20">
                <h6>Token&AP</h6>
                <h1>Check token and using AP</h1>
                <h4> 보유중인 토큰 : <img src="../public/img/blog/tok.png" alt="post">2.9985 ETH</h4>
                <a class="사용charge_btn" href="#">충전하기</a>
                <h4> 현재 사용중인 AP : SSID1</h4>
                <table style="사용width: 100%; margin: 10% 0% 0% 5%">
                    <tr style="background-color: antiquewhite">
                        <th>구매한 AP</th>
                        <th>사용할 IP Address</th>
                        <th> 사용/중지</th>
                    </tr>

                    <% for (var k=0; k< cuser[0].aplist.length; k++) {
                        if(!cuser[0].aplist[k].ap){
                            var apSsid = '삭제되거나 종료된 AP입니다.';
                        } else {
                            var apSsid = cuser[0].aplist[k].ap.ssid; }
                    %>
                    <form action="/ap_<%= cuser[0].aplist[k].buy_ap_condition %>/<%= cuser[0].aplist[k]._id %>" method="get">
                        <input name="mac" type="text" style="display: none" value="<%= cuser[0].aplist[k].ap.mac %>">
                        <tr>
                         <th><%= apSsid %></th>
                         <th><input name="ipAddress" type="text"></th>

                        <th><input class="btn-sm btn-outline-danger"  type="submit" style="margin-top: 3%; display: block" id="a" value="<%= cuser[0].aplist[k].buy_ap_condition %>"></th>
                    </tr>
                    </form>

                    <% }
                    %>
                </table>
            </div>
        </div>
    </div>

    <div class="collapse" id="users">
        <div class="row recent_update_text">
            <div class="col-lg-20">
                <h6>AP 관리</h6>
                <h1>Manage my AP</h1>

                <%
                for (var i = 0; i < aps.length; i++) {
                    var curSsid = aps[i]._doc.ssid;
                    // var curWriter = aps[i]._doc.writer.id;
                %>

                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" style="margin-bottom: 3%"><%= curSsid %></button>

                <a class="btn btn-danger"  href="/ap_<%= aps[i]._doc.ap_condition %>/<%= aps[i]._id %>?mac=<%= aps[i]._doc.mac %>" style="margin-bottom: 3%"><%= aps[i]._doc.ap_condition%></a>

                <div id="demo" class="collapse">

                    <div style="margin: 10% 0% 10% 0%">
                        <table style="width: 100%; margin: 10% 0% 0% 5%">
                            <tr style="background-color: antiquewhite">
                                <th>이용중인 user</th>
                                <th>구매시간</th>
                            </tr>
                            <% for (var j=0; j< aps[i]._doc.userlist.length; j++) {
                                var userName = aps[i]._doc.userlist[j].user.id;
                            %>
                            <tr>
                                <th><%= userName %></th>
                                <th>30m</th>
                            </tr>
                            <%}%>
                        </table>
                    </div>
                    <h7>벌어들인 토큰 :<img src="../public/img/blog/tok.png" alt="post"> 0.0032 ETH </h7>
                    <button type="button" class="btn btn-outline-primary btn-sm" style="margin-left: 5px">accept</button><br>
                    <a href="/edit_ap?ap_id=<%= aps[i]._id %>" class="btn btn-sm btn-info">AP 수정</a>
                    <a href="/delete_ap/<%= aps[i]._id %>" class="btn btn-sm btn-danger">AP 삭제</a>
                </div><br>
                <% }
                %>

            </div>
        </div>
    </div>
</div>
<!--================Blog Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area section_gap_top">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>About Farfly</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>For Business</a></li><a href="#">
                            <li><a href="#"></a>Premium Plans
                        </a></li>
                        <li><a href="#"></a>Reviews</a></li>
                        <li><a href="#"></a>How it Works</a></li>
                        <li><a href="#"></a>Farfly Blog</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Company</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Product Tour</a></li><a href="#">
                            <li><a href="#"></a>Pricing
                        </a></li>
                        <li><a href="#"></a>Founding Members</a></li>
                        <li><a href="#"></a>Case Studies</a></li>
                        <li><a href="#"></a>Product Updates</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Support</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Documentation</a></li><a href="#">
                            <li><a href="#"></a>Data Securiry
                        </a></li>
                        <li><a href="#"></a>Site Performance</a></li>
                        <li><a href="#"></a>Action Plan</a></li>
                        <li><a href="#"></a>Resources</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Legal</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Terms and conditions</a></li><a href="#">
                            <li><a href="#"></a>Privacy Policy
                        </a></li>
                        <li><a href="#"></a>Cookie Information</a></li>
                        <li><a href="#"></a>Opt - Out</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row single-footer-widget">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="copy_right_text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="social_widget">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="../public/js/popper.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/stellar.js"></script>
<script src="../public/js/jquery.magnific-popup.min.js"></script>
<script src="../public/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="../public/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../public/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="../public/vendors/isotope/isotope-min.js"></script>
<script src="../public/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../public/js/jquery.ajaxchimp.min.js"></script>
<script src="../public/js/mail-script.js"></script>
<script src="../public/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="../public/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="../public/js/theme.js"></script>
</body>
</html>